<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="favico.png">
    <script src="https://kit.fontawesome.com/05f4f5308c.js" crossorigin="anonymous"></script>
    <title>My Calculator</title>
</head>
<body>
    <header class="header">
        <div class="basic">Basic</div>
        <div class="advanced">Advanced</div>
        <div class="graph">graphs</div>
    <div class="mode"></div>
    </header>
    <div class="calculator">
        <div class="history">
           <div class="delete-container">
                <i class="fa-solid fa-trash fa-lg" id="delete-history"></i>
            </div>
        </div>
        <div class="screen-container">
            <input name="screen" class="screen">
            <div class="validation-status"></div>
            <div class="preview-result"></div>
        </div>
        <div class="buttons">
            <div>C</div>
            <div>(</div>
            <div>)</div>
            <div>^</div>
            <div>π</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>÷</div>
            <div>√</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>×</div>
            <div>x²</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>-</div>
            <div>+</div>
            <div>.</div>
            <div>0</div>
            <div>%</div>
            <div class="orange">=</div>
        </div>
    </div>
    <script type="module" src="/static/main.js"></script>
</body>
</html>