<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favico.ico">
    <title>My Calculator</title>
</head>
<body>
    <header class="header">
        <div class="basic">Basic</div>
        <div class="advanced">Advanced</div>
        <div class="financial">Financial</div>
        <div class="programing">Programming</div>
        <div class="more">
            <p>More</p>
            <ul>
                <li><div>Currency</div></li>
                <li><div>Age</div></li>
                <li><div>Area</div></li>
                <li><div>BMI</div></li>
                <li><div>Date</div></li>
                <li><div>Discount</div></li>
                <li><div>Length</div></li>
                <li><div>Mass</div></li>
                <li><div>Speed</div></li>
                <li><div>Temperature</div></li>
                <li><div>Time</div></li>
                <li><div>Volume</div></li>
            </ul>
        </div>
    <div class="mode"></div>
    </header>
    <div class="calculator">
        <div class="history"></div>
        <div class="screen-container">
            <input name="screen" class="screen">
            <div class="message"></div>
        </div>
        <div class="buttons">
            <div>C</div>
            <div>(</div>
            <div>)</div>
            <div>^</div>
            <div>π</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
            <div>÷</div>
            <div>√</div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>×</div>
            <div>x²</div>
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>-</div>
            <div>+</div>
            <div>.</div>
            <div>0</div>
            <div>%</div>
            <div class="orange">=</div>
        </div>
    </div>
    <script type="module" src="/static/main.js"></script>
</body>
</html>